body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
}

nav {
  background: #020617;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

.container {
  padding: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 20px;
  margin-top: 20px;
}

.box {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
